<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Site info -->
    <title>App</title>
    <link rel="shortcut icon" type="image/png" href="${require('./assets/images/favicon.png')}" />

    <!-- Stylsheets -->
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" type='text/css'>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
